In [10]:
import numpy as np
import pandas as pd
 
data = pd.read_csv('in.csv',names=('Date', 'Value'),parse_dates=[0],skiprows = 1)
print (data)

        Date  Value
0 2017-01-01     34
1 2017-01-02     78
2 2017-01-03     99

In [12]:
mydateparser = lambda x: pd.datetime.strptime(x, "%Y %m %d %H:%M:%S")
df = pd.read_csv("file.csv", names=['date_column', 'other_column'], parse_dates=['date_column'], date_parser=mydateparser)

In [13]:
df.head()

          date_column other_column
0 2016-06-10 20:30:00          foo
1 2016-07-11 19:45:30          bar
2 2013-10-12 04:30:00          foo